@import "reset.css";
/* https://a11chan.github.io/my-momentum/ */
.hidden {
  display: none;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  color: floralwhite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#login-form{
  width: calc(100% - 3vw); 
  /* calc()는 괄호 안의 식을 계산한 결과를 속성값으로 사용하게 해주는 함수 */
  margin-top: 10px;
  color: inherit;
  font-size: min(48px, 5vw);
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid floralwhite;
}

#login-form input[type=text]{
  font-size: min(48px, 5vw);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 18px;
  color: floralwhite;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#reset {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}

#weather {
  position: absolute;
  top: 5px;
  right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  cursor: pointer;
}

#weather li:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#weather li:last-child {
  margin-top: -10px;
}

main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 60vh;
}

main #clock {
  text-align: center;
  font-size: min(150px, 15vw);
}

main #greeting {
  font-size: min(48px, 5vw);
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

main form #login-input {
  width: calc(100% - 3vw);
  margin-top: 10px;
  color: inherit;
  font-size: min(42px, 4vw);
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  border: none;
  outline: none;
  
}

main form:last-of-type {
  /* main의 form 마지막요소만 */
  margin-top: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

main form:last-of-type #toDoGuideMsg {
  font-size: min(42px, 4vw);
}

main form:last-of-type input {
  width: 100%;
  font-size: min(38px, 3.5vw);
  font-weight: unset;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 3px solid floralwhite;
}

main #todo-list {
  width: 100%;
  margin-top: 30px;
  max-width: min(525px, 50vw);
  overflow-y: scroll;
}

main #todo-list::-webkit-scrollbar {
  display: none;
}

main #todo-list li {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 9fr 1fr;
      grid-template-columns: 9fr 1fr;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  padding: 5px;
  font-size: min(38px, 3.5vw);
  word-break: break-all;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
}

main #todo-list li:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

main #todo-list li span {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

main #todo-list li button {
  margin-left: 5px;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

#quote {
  width: 80%;
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  cursor: pointer;
}

.strikethrough {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

#reset {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}